/*
------------------------------------------------------------------------
| pal grupo                                                            |
------------------------------------------------------------------------
|creacion 3/10/2017                                                    |
------------------------------------------------------------------------
*/

.logo{
	margin-top: -12px;
}


#titulo{
	margin-top: -10px;
}

#ti{
	background-color: #004c80;
	margin-top: -20px;
	color: white;
	text-align: center;
}