/*
------------------------------------------------------------------------
| pal grupo                                                            |
------------------------------------------------------------------------
|creacion 3/10/2017                                                    |
------------------------------------------------------------------------
*/

.logo{
	margin-top: -12px;
}


#titulo{
	margin-top: -10px;
}

.form-inline{
	display: inline-block;
}
#busca{
	width: 200px;
	margin-left: 20px;
	margin-top: 10px;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#ti{
	background-color: #004c80;
	margin-top: -20px;
	color: white;
	text-align: center;
}
@media screen and (max-width: 800){
	#contPrin{
		width:100%;
	}
	aside {
		width:100%;
	}
}
.half-rule { 
    margin-left: 0;
    text-align: left;
    width: 50%;
 }

