/*
------------------------------------------------------------------------
| pal grupo                                                            |
------------------------------------------------------------------------
|creacion 3/10/2017                                                    |
------------------------------------------------------------------------
*/
h1{
  font-size: 400%;
}
select{
  font-size: 250%;
  background: rgb(25,25,25);
  color: #fff;
}
.colorn{
  background-color: rgba(25,25,25,1);
  background-size: cover;
  grid-row: auto;
  width: 100%;
}
.colorg{
  background-color: rgba(25,25,25,0.5);
}
