/*.titulo{
  background-color: #01568E;
  color:white;
  font-family: comic;
}*/
.logo{
  margin-left: 20px;
}

#barri3{/* Botones Inicio - año - seccion - Buscador*/
  margin-left: 30px;
}

.nav-item{
  margin-left: 20px;
}
#ti{
  font-size: 30px;
}

.busc{
  margin-left: 100px;
}
.cuerpo{
  margin-top: 82px;
}

.fondo{
  background-color: rgba(25,25,25,0.1);
  background-size: auto;
  background-size: 100%;
}
.cuadhor{
  background-color: rgba(25,25,25,0.5);
  background-size: cover;
}
.cuadvert{
  background-color: rgba(25,25,25,0.5);
  background-size: contain;
}
.neg{
  background-color: rgba(25,25,25,1);
}
.nolink{
  text-decoration: none !important;
  color: black !important;
}
.footer{
  color: #cac8c8;
  font-size: 20px;
  text-align: center;
  background-color: #343a40;
}